<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /08_Site_boutique/

# fichier ou dossier existe ou non
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers le routeur
RewriteRule ^(.*)$ controllers/router.php [QSA,L]
</IfModule>
