body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background: #ca5212;
	color: #ffffff;
	padding: 10px 20px;
	text-align: center;
}

nav a {
	color: #ffffff;
	margin: 0 15px;
	text-decoration: none;
}

/* main {
	height: 100vh;
} */

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.product {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background: #ffffff;
	width: 200px;
	text-align: center;
}

.product img {
	max-width: 100%;
	height: auto;
}

footer {
	text-align: center;
	padding: 20px;
	background: #ca5212;
	color: #ffffff;
	/* position: absolute; */
	z-index: 1;
	width: 100%;
	bottom: 0;
	margin-top: 10rem;
}
